html {
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 13px;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

li {
    list-style: none;
}
/*ul li{display:inline;}*/
caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
    font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

/*because legend doesn't inherit in IE */
legend {
    color: #000;
}
/*reset.css结束*/
html {
    _filter: expression(document.execCommand("BackgroundImageCache",false,true));
}

body, th, td, caption, input, textarea {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    outline: none;
}

    a:hover {
        cursor: pointer;
    }

table a {
    color: #2F69AC;
    text-decoration: none;
    outline: none;
}

    table a:hover {
        color: #2F69AC;
        cursor: pointer;
    }

    /*table a:visited {
        color: #2F69AC;
    }*/

th, td {
    vertical-align: middle;
}

i {
    overflow: hidden;
    display: inline-block;
}

iframe {
    background-color: white;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 2px;
    margin-right:0;
}
/*label input{position:relative;top:2px;#top:1px;}*/
textarea {
    overflow: auto;
    padding: 1px 0 0 1px;
}

h3 {
    font-weight: bold;
    font-size: 14px;
}

    h3 a {
        font-size: 12px;
        font-weight: 100;
    }

/*
common style
*/
.mauto {
    margin: 0 auto;
}

.pad8t {
    padding-top: 8px;
}

.pad10 {
    padding: 10px;
}

.lh25 {
    line-height: 25px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.ft_red {
    color: Red;
}

.hand {
    cursor: pointer;
}

/*--宽度--*/
.w1 {
    width: 20px;
}

.w2 {
    width: 40px;
}

.w3 {
    width: 60px;
}

.w4 {
    width: 80px;
}

.w5 {
    width: 100px;
}

.w6 {
    width: 120px;
}

.w7 {
    width: 140px;
}

.w8 {
    width: 160px;
}

.w9 {
    width: 180px;
}

.w10 {
    width: 200px;
}

.w11 {
    width: 300px;
}

.w12 {
    width: 350px;
}

.w13 {
    width: 510px;
}

/*other*/
.content {
    padding: 2px;
}

.ulInline li {
    display: inline;
    margin-right: 10px;
    font-family: "微软雅黑", "宋体",Consolas,Verdana;
}

    .ulInline li a:link, .ulInline li a:visited {
        color: #4d2222;
    }

.fieldSet {
    border: 1px solid #95B8E7;
    margin-bottom: 5px;
    padding: 8px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.w {
    width: 100%;
}

.hide {
    display: none;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.red {
    color: red;
}

.green {
    color: green;
}
/********表格样式******************/
table.thinBorder {
    border-collapse: collapse;
    border: solid 1px #C1CDD8;
}

    table.thinBorder caption {
        font-weight: bolder;
    }

    table.thinBorder th, table.thinBorder thead th, table.thinBorder td, table.thinBorder tfoot td {
        vertical-align: middle;
        border: solid #C1CDD8;
        border-width: 0px 1px 1px 0px;
    }

    table.thinBorder th {
        background-color: #F0F0F0;
        color: #000;
    }

table.padding5 td, table.padding5 th {
    padding: 4px; /*text-align: center;*/
}

tr.active {
    background-color: #d0d8e8;
}

tr.tr_edit {
    background-color: #CCFF99;
    color: black;
}

.tableForm {
    border-collapse: collapse;
    overflow: hidden;
}

    .tableForm th {
        text-align: right;
        border-bottom: 1px dotted #ccc;
        padding: 5px;
    }

    .tableForm td {
        text-align: left;
        border-bottom: 1px dotted #ccc;
        padding: 5px;
    }

/******输入框Input样式*****************/
.txt {
    /*height:16px;默认高度*/
    padding: 2px 8px 0pt 3px;
    height: 18px;
    border: 1px solid #CCC;
}

.txt1 {
    font: Verdana, Geneva, sans-serif,宋体;
    padding: 3px 2px 2px 2px;
    border-width: 1px;
    border-color: #ddd;
    color: #000;
}

.txt2 {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif,宋体;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
}

.txt3 {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif,宋体;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    width: 190px;
}

/*输入框去边框*/
.txtBorderNone {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
}

.btn {
    background-position: right 0;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    outline: medium none;
    text-decoration: none;
    text-align: center;
}

/**附件**/
.atta {
}

.attaItem {
    background: url(/Images/Attach/pickpad.gif) left top;
    cursor: default;
    float: left;
    color: #333;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
    padding-left: 8px;
    white-space: nowrap;
    margin-bottom: 2px;
}

.attaDelete {
    background: url(/Images/Attach/pickpad.gif) right top;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-left: 6px;
    text-indent: -99999px;
    width: 20px;
}

.atta span:hover .attaDelete {
    background-position: right bottom;
}

.atta span:hover .attaNoDelete {
    background-position: left top;
}

.atta span:hover {
    background-position: left bottom;
    color: #333;
    text-decoration: none;
}