* {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
A {
	COLOR: #666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #03f
}
BODY {
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; FONT-SIZE: 12px; FONT-FAMILY: 宋体; SCROLLBAR-TRACK-COLOR: #fefefe; SCROLLBAR-FACE-COLOR: #f6f6f6; COLOR: #333; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #330000; LINE-HEIGHT: 160%; SCROLLBAR-SHADOW-COLOR: #cccccc; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
.disabled {
	BORDER-TOP: #cecece 1px solid; HEIGHT: 30px; BORDER-RIGHT: #cecece 1px solid; BORDER-BOTTOM: #cecece 1px solid; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; MARGIN: 5px 0px; BORDER-LEFT: #cecece 1px solid; LINE-HEIGHT: 30px; PADDING-RIGHT: 8px; border-radius: 5px 5px 5px 5px
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: 宋体; TABLE-LAYOUT: fixed; WORD-BREAK: break-all; LINE-HEIGHT: 150%
}
.title {
	FONT-SIZE: 20px; HEIGHT: 60px; FONT-FAMILY: '微软雅黑'; BORDER-BOTTOM: #f0f0f0 1px solid; COLOR: #333; TEXT-ALIGN: center; MARGIN: 10px 10px 20px; LINE-HEIGHT: 60px; text-shadow: 1px 1px 3px rgba(0, 0, 0, .3)
}
.clear {
	CLEAR: both
}
#header {
	BORDER-TOP: #ccc 1px solid; BACKGROUND: #f6f6f6; BORDER-BOTTOM: #ccc 1px solid; COLOR: #06f; MARGIN: 1px 0px 0px; LINE-HEIGHT: 40px; box-shadow: 0 0 5px #ccc
}
#header .back {
	FLOAT: right
}
#header #top {
	MARGIN: 0px auto; WIDTH: 1000px
}
#header #top B {
	FONT-SIZE: 24px; FONT-FAMILY: qianduanNet; COLOR: #06f; TEXT-ALIGN: center; LETTER-SPACING: 1px; text-shadow: 1px 2px 5px #9ab
}
.button {
	CURSOR: pointer; COLOR: #666; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; OUTLINE-STYLE: none; PADDING-LEFT: 8px; MARGIN: 5px; PADDING-RIGHT: 8px; BACKGROUND-COLOR: #f5f5f5; border-radius: 5px; text-shadow: 1px 1px 1px rgba(0, 0, 0, .1); box-shadow: 0 0 5px rgba(120, 120, 120, .1), inset 0 0 2px #fff; -moz-transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out
}
.button:focus {
	BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #c6c6c6 1px solid; BORDER-BOTTOM: #c6c6c6 1px solid; COLOR: #333333; BORDER-LEFT: #c6c6c6 1px solid; BACKGROUND-COLOR: #fff; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}
.button:hover {
	BORDER-TOP: #c6c6c6 1px solid; BORDER-RIGHT: #c6c6c6 1px solid; BORDER-BOTTOM: #c6c6c6 1px solid; COLOR: #333333; BORDER-LEFT: #c6c6c6 1px solid; BACKGROUND-COLOR: #fff; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
}
.wrap {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px; WIDTH: 980px
}
#toplink {
	LINE-HEIGHT: 30px
}
#toplink SPAN {
	FLOAT: right
}
#footer {
	BORDER-TOP: #ccc 1px solid; BACKGROUND: #f6f6f6; MARGIN: 8px 0px 0px; LINE-HEIGHT: 36px; box-shadow: 0 0 5px #ccc
}
#footer P {
	COLOR: #666; MARGIN: 0px auto; WIDTH: 982px
}
#footer P SPAN {
	FLOAT: right; COLOR: #999
}
#footer P SPAN A {
	COLOR: #999
}
#footer P SPAN A:hover {
	COLOR: #06f
}
