  html, body {
            height: 100%;
        }

        .box {
            margin: 0 auto;
            position: relative;
            width: 100%;
            height: 100%;
            background: url('Images/loig.jpg')fixed center center no-repeat;
            background-size: cover;
        }

        .login-box {
            width: 100%;
            max-width: 400px;
            height: 400px;
            position: absolute;
            top: 50%;
            margin-top: -200px;
            /*设置负值，为要定位子盒子的一半高度*/
        }

        @media screen and (min-width:500px) {
            .login-box {
                left: 50%;
                margin-left: -250px;
            }
        }

        .form {
            width: 100%;
            max-width: 500px;
            height: 275px;
            margin: 25px auto 0px auto;
        }

        .login-content {
            height: 300px;
            width: 100%;
            max-width: 500px;
            float: left;
        }


        .input-group {
            margin: 0px 0px 10px 0px !important;
        }

        .form-control,
        .input-group {
            height: 40px;
        }

        .form-group {
            margin-bottom: 0px !important;
        }

        .login-title small {
            color: #46b8da;
            letter-spacing: 10px;
            font-size: 34px;
            font-weight:bold;
            text-align: center;
            text-shadow: 2px 2px 3px #fff;
        }

        .link p {
            line-height: 20px;
            margin-top: 30px;
        }

        .btn-sm {
            padding: 8px 30px !important;
            font-size: 16px !important;
            float: right;
            width: 100%;
        }

        .form-control {
            border-color: #46b8da;
        }

        .input-group-addon {
            border-color: #46b8da;
            background-color: transparent;
        }