
.header {
    height: 35px;
    overflow: hidden;
    min-width: 990px;
    background: #2076C3 url(/Images/Main/headbg.png) repeat-x;
    background-color: #f5f5f5;
    line-height: 35px;
    color: #3C3C3C;
    font-family: Verdana, 微软雅黑,黑体;
}

.header-right {
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

    .header-right a {
        color: whitesmoke;
    }

.header-a {
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}

.head-left {
    margin-top: 5px;
    margin-left: 10px;
    min-width: 160px;
    float: left;
    padding-left: 80px;
}

    .head-left span {
        color: whitesmoke;
        font-size: 18px;
        font-weight: bolder;
        font-family: 'Microsoft YaHei' !important;
    }

.bottom-south {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
